.root {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  padding-top: 32px;
}
.select {
  width: 120px;
  margin: 10px;
  background: #ddd;
  border: 9px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
.download,
.button {
  width: 120px;
  margin: 10px;
  background: #08b31d;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.download {
  background: #0863b3;
}