body {
  margin: 0;
  padding: 0 0 0 320px;
  font-family: 'Raleway', sans-serif;
}

:global {
  .jodit-status-bar {
    position: sticky;
    bottom: 0;
  }
  .jodit-wysiwyg table tr td, .jodit-wysiwyg table tr th {
    border: none;
    vertical-align: auto;
  }
}